.dashboard-title {
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-card .dashboard-icon {
  font-size: 45px;
}
.dashboard-card .icon-box {
  background-color: rgb(203, 239, 255);
  padding: 10px;
  border-radius: 50%;
}
.dashboard-card .dashboard-value {
  font-size: 50px;
  font-weight: 700;
}
.dashboard-card .dashboard-label {
  font-weight: 700;
  color: rgb(56, 56, 56);
}

.clock {
  height: 15rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #e9e9e9;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.45),3px 3px 6px rgba(255, 255, 255, 0.45),
    3px 3px 6px rgba(106, 115, 131, 0.3);
}

.clock .number {
  color: #b6b1a6;
  --rotation: 0;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  width: 40%;
  height: 40%;
  text-align: center;
}
.clock .number1 {
  transform: rotate(30deg);
}
.clock .number2 {
  transform: rotate(60deg);
}
.clock .number3 {
  transform: rotate(90deg);
}
.clock .number4 {
  transform: rotate(120deg);
}
.clock .number5 {
  transform: rotate(150deg);
}
.clock .number6 {
  transform: rotate(180deg);
}
.clock .number7 {
  transform: rotate(210deg);
}
.clock .number8 {
  transform: rotate(240deg);
}
.clock .number9 {
  transform: rotate(270deg);
}
.clock .number10 {
  transform: rotate(300deg);
}
.clock .number11 {
  transform: rotate(330deg);
}

.number1 p {
  transform: rotate(-30deg);
}
.number2 p {
  transform: rotate(-60deg);
}
.number3 p {
  transform: rotate(-90deg);
}
.number4 p {
  transform: rotate(-120deg);
}
.number5 p {
  transform: rotate(-150deg);
}
.number6 p {
  transform: rotate(-180deg);
}
.number7 p {
  transform: rotate(-210deg);
}
.number8 p {
  transform: rotate(-240deg);
}
.number9 p {
  transform: rotate(-270deg);
}
.number10 p {
  transform: rotate(-300deg);
}
.number11 p {
  transform: rotate(-330deg);
}

.clock:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ffbe0b;
  border-radius: 50%;
  z-index: 10000;
  border: #ffbe0b 2px;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.clock .min,
.mn {
  width: 190px;
  height: 190px;
}
.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #292a2e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
