* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #f2fcff, #ffdde2, #d1ddff);
}

.bg-lucent {
  background-color: rgba(69, 69, 69, 0.085);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
